@{
    ViewData["Title"] = "Home Page";
}
@model  List<myreviewapplication.Models.Product>



    <style>
        .firstpage{
         box-sizing:border-box; 
         width:100% ; 
         height:100vh ; 
         background:skyblue;
        
        }
        .cardscontainer{
         display:flex;
         height:100vh;
         
          justify-content:space-around ;
          flex-wrap:wrap ;
        
        }
        .mycard{
        
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width:400px; 
        height:550px;
        padding: 10px;
        box-sizing:border-box ; 
        display:flex;
        flex-direction:column; 
        justify-content:center; 
         align-items:center ;
        
        
        }

        .cardimg{
            width:100% ;
            height:50% ;
        }
        .page2{
            display:flex;
            flex-direction:column;
      


        }
    </style>

<div class="firstpage">
 
  <div class="description">


  </div>

  <div></div>

   <a class="btn btn-primary" asp-action="AddProduct" asp-controller="ProductDetails">Add New</a>
 

</div>


        <div class="page2">

            <h2>Our Products</h2>



    <div class="cardscontainer">

        @foreach (var item in Model)
        {
            <div class="mycard">
                <div class="cardimg">
                    <img src="@item.ImageUrl" class="img-fluid" />
                </div>
                <div class="details">
                    <h4>@item.Name</h4>
                    <h5>@item.Price</h5>
                    <p> Rating: @item.Rating * </p>

                </div>
                <a class="btn btn-primary" asp-action="ProductDetail" asp-controller="ProductDetails" asp-route-id="@item.Id">Review</a>
            </div>
        }

    </div>
        </div>