@{
    ViewData["Title"] = "Home Page";
}
@model  List<myreviewapplication.Models.Product>



    <style>
        .firstpage{
         box-sizing:border-box; 
         width:100% ; 
         height:100vh ; 
         background:skyblue;
        
        }
        .cardscontainer{
         display:flex;
         height: auto;
         
          justify-content:space-around ;
          flex-wrap:wrap ;
        
        }
    

    .page2 {
        display: flex;
        justify-content:space-around;
        align-items:center;
        height:100vh;
        flex-direction: column;
    }

   
    .mycard{
        width:400px; 
        height:400px; 
        border-radius:20px;
        border:1px solid grey;
        margin:10px;

    position:relative;
    }
    .cardimg{
        position:absolute;
        top:0 ;
        bottom:0;
        left:0;
        right:0;
        position:relative;
        z-index:auto;
    }
    .cardimg img{
          width:100% ; 
          height:100% ; 
          object-fit:contain ; 
    }
    .details{
         width:100% ; 
         height:100% ;
         position:absolute ;
         top:0 ;
         right: 0 ;
         bottom :0 ; 
         left:0 ; 
         display:flex; 
    background:gray;
         justify-content:center;
         text-align:center;
         display:none;
         transition:1s ease-in-out;
       
         
    }
    .cardimg:hover + .details{
        display :block;

    } 
    </style>

<div class="firstpage">
 
  <div class="description">


  </div>

  <div></div>

   <a class="btn btn-primary" asp-action="AddProduct" asp-controller="ProductDetails">Add New</a>
 

</div>


        <div class="page2">

            <h2>Our Products</h2>



    <div class="cardscontainer">

        @foreach (var item in Model)
        {
            <div class="mycard">

                <div class="cardimg">
                    <img src="@item.ImageUrl" class="img-fluid" />
                </div>
                <div class="details">
                   <div>
                        <h4>Name: @item.Name</h4>
                        <h5>Price: @item.Price</h5>
                        <p> Rating: @item.Rating* </p>
                        <a class="btn btn-primary" asp-action="ProductDetail" asp-controller="ProductDetails" asp-route-id="@item.Id">Review</a>

                   </div>
                </div>
               
            </div>
        }

    </div>
        </div>