@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model myreviewapplication.Models.Product ; 


<style>
 .productdetail{
     background:black;
 width:100% ; 
 height: auto ; 
 box-sizing:border-box ; 
 display :flex; 
 flex-direction:column;
 justify-content:center; 
 align-items:center;

 }
 .productdetailcard{
     display:flex;
        position: relative;

      
     width:100% ; 
     height:100vh ;
   
     flex-direction:row; 
     justify-content:space-around;
     align-items:center ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
        padding:10px;
 
 } 
 
 .details{
      display:flex;
        border-radius: 40px;
      padding:15px;
      flex-direction:column; 
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width:700px; 
        justify-content:center;
      
        height:700px;

 }
 .image{
      width:600px;
        border-radius: 40px;
      height:600px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 .image img{
            width: 100%;
            border-radius: 40px;
     height:100%;
      object-fit:cover;
 }
 
 .reviews{
      margin-top:10px; 
 }
 #reviewcontainer{
      width:100% ; 
     padding-bottom:50px;
     height:auto;
      padding:40px;
      box-sizing:border-box;
      text-align:left;
   
 }

</style>
<div class="productdetail">
<div class="productdetailcard">
 
    <div class="image">
        <img src="@Model.ImageUrl" />
    </div>
    <div class="details">
       <h1>Name:@Model.Name</h1>
            <h3>Price: &#8377; @Model.Price</h3>
            
            <h5>Rating: @Model.Rating <span style="font-size:150%;color:yellow;">&starf;</span> </h5>
      <p>@Model.Description</p>
   

    <form  id="reviewtext" method="post" asp-action="PostReview" asp-route-id="@Model.Id" asp-controller="Review">
       <textarea  class="form-control mb-2" asp-for="review" required ></textarea>
     <input type="submit" class="btn btn-success" value="Post Review" />
    </form>

    <div class="reviews">

        <a  id="loadreviewsbutton" class="btn btn-secondary" >Read Reviews</a>
        <a id="hidereviewbutton" class="btn btn-primary">Hide Reviews</a>

            </div>
    </div>
</div>

<div id="reviewcontainer">


</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

         $(document).ready(function(){
        $("#reviewcontainer").hide();
      
               $("#hidereviewbutton").click(function(){

                    console.log("button clicked") ; 
                    $("#reviewcontainer").hide() ;
               })
              $("#loadreviewsbutton").click(function(){
              
            $("#reviewcontainer").show();
            $.ajax({
                url: "@Url.Action("GetReviews", "Review",  new {Id=Model.Id})",
                type: "GET",
                success: function (result) {
                    $("#reviewcontainer").html(result);
                },
                error: function (err) {
                    console.log(err);
                }
            })
              })


         })
    </script>